In [14]:
import pandas as pd
from datahabit import (
    TaskData, DataCleaner, BehaviorAnalyzer, Visualizer,
    DeadlinePredictor, PatternDetector, DifficultyEstimator,
    HabitScore, ReportGenerator
)

In [16]:
import sys
sys.path.append('../src/')

df = pd.read_csv('../datasets/students_data.csv')
df.head()

,Unnamed: 0,Student ID,Study Hours,Sleep Hours,Task Completed,Distractions Count,Day,Start Time,End Time,Productivity Score,...,Start,Deadline,Completed On,Week,Consistency,Breaks Taken,Average Focus Minutes,Duration (hrs),Complexity,Energy Required
0,Aira Grettel Dahe,2024245901,7,4,3,3,Wednesday,8:00,15:00,82,...,2025-11-07,2025-12-15,2025-12-10,2,88,4,52,7,High,High
1,Armisty Genia Java,2024300450,3,5,3,2,Monday,13:00,18:00,78,...,2025-12-08,2025-12-12,2025-12-05,2,85,3,48,5,Medium,Medium
2,Carmel Marianne Hayag,2024300972,5,7,2,5,Thursday,12:00,17:00,70,...,2025-11-03,2025-12-04,2025-12-01,3,80,6,44,5,High,High
3,Karylle Dellosa,2024300111,4,5,3,5,Tuesday,10:00,14:00,72,...,2025-11-20,2025-12-10,2025-12-04,3,78,5,45,4,High,High
4,Rodney Trillo,2024161301,2,8,1,7,Friday,19:00,21:00,56,...,2025-12-03,2025-12-09,2025-12-08,4,60,7,38,2,High,Medium

NameError: name 'DataCleaner' is not defined