In [2]:
import pandas as pd
from datahabit import (
    TaskData, DataCleaner, BehaviorAnalyzer, Visualizer,
    DeadlinePredictor, PatternDetector, DifficultyEstimator,
    HabitScore, ReportGenerator
)

In [3]:
import sys
sys.path.append('../src/')

df = pd.read_csv('../datasets/ds2b_data.csv')
df.head()

,Unnamed: 0,student_id,study_hours,sleep_hours,task_completed,distractions_count,day,start_time,end_time,productivity_score,...,start,due_date,submission_time,week,consistency,breaks_taken,average_focus_minutes,Duration (hrs),complexity,energy_required
0,Aira Grettel Dahe,2024245901,7.0,4,3,3,Wednesday,8:30,15:00,82,...,11/7/2025,2025-12-13 10:00:00,2025-12-13 9:00:00,2,88,4,52,7,High,High
1,Armisty Genia Java,2024300450,3.0,5,3,2,Monday,13:10,18:00,78,...,12/8/2025,2025-12-10 23:59:00,2025-12-12 5:25:00,2,85,3,48,5,Medium,Medium
2,Carmel Marianne Hayag,2024300972,5.0,7,2,5,Thursday,12:00,17:00,70,...,11/3/2025,2025-12-14 14:00:00,2025-12-10 11:50:00,3,80,6,44,5,High,High
3,Karylle Dellosa,2024300111,4.0,5,3,5,Tuesday,10:00,14:00,72,...,11/20/2025,2025-12-04 22:00:00,2025-11-30 23:00:00,3,78,5,45,4,High,High
4,Rodney Trillo,2024161301,NaN,8,1,7,Friday,19:00,21:00,56,...,12/3/2025,2025-12-08 8:30:00,2025-12-10 8:00:00,4,60,7,38,2,High,Medium

In [7]:
df.columns

Index(['Unnamed: 0', 'student_id', 'study_hours', 'sleep_hours',
       'task_completed', 'distractions_count', 'day', 'start_time', 'end_time',
       'productivity_score', 'task_name', 'start', 'due_date',
       'submission_time', 'week', 'consistency', 'breaks_taken',
       'average_focus_minutes', 'Duration (hrs)', 'complexity',
       'energy_required'],
      dtype='object')

In [9]:
sample = df.iloc[0].to_dict()
sample

{'Unnamed: 0': 'Aira Grettel Dahe',
 'student_id': 2024245901,
 'study_hours': 7.0,
 'sleep_hours': 4,
 'task_completed': 3,
 'distractions_count': 3,
 'day': 'Wednesday',
 'start_time': '8:30',
 'end_time': '15:00',
 'productivity_score': 82,
 'task_name': 'OOP Project',
 'start': '11/7/2025',
 'due_date': '2025-12-13 10:00:00',
 'submission_time': '2025-12-13 9:00:00',
 'week': 2,
 'consistency': 88,
 'breaks_taken': 4,
 'average_focus_minutes': 52,
 'Duration (hrs)': 7,
 'complexity': 'High',
 'energy_required': 'High'}

In [11]:
sample.pop("Unnamed: 0", None)
td = TaskData(**sample)

TypeError: TaskData.__init__() got an unexpected keyword argument 'study_hours'

In [12]:
import inspect

# get parameter names of your class' __init__
valid_params = inspect.signature(TaskData.__init__).parameters
valid_params = [p for p in valid_params if p != "self"]

sample = df.iloc[0].to_dict()

# keep only columns that match the class parameters
clean_sample = {k: v for k, v in sample.items() if k in valid_params}

td = TaskData(**clean_sample)